
.login-form {

	position: relative;
	width: 400px;
	height: 200px;
	margin: auto;
	margin-top: 220px;
}

.dashboard{
	width: auto;
	height: 490px;
}

/*message*/
.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

.bs-callout-info {
    background-color: #f4f8fa;
    border-color: #5bc0de;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f;
}

.list-box{

    width: 350px;
    height: 380px;
}
.list-box .title-artikel{
    height: 40px;
}
.list-box .description {
    height: 50px;
}
.label-status-active{
    position: absolute;
    width: 100px;
    height: 20px;
    background: #3d9806;
    border-radius:3px;
    text-align: center;
    font-weight: bold;
    color: #fff;

}

.label-status-notactive{
    position: absolute;
    width: 100px;
    height: 20px;
    background: #841c03;
    border-radius:3px;
    text-align: center;
    font-weight: bold;
    color: #fff;

}


/*responsive*/

@media (max-width: 1024px){

	.dashboard{
		height: auto;
	}

}

@media (max-width: 768px){
    .list-box{
        width: auto;
        height: auto;
    }

    .list-box img{
        background-size: cover;
    }
}

@media (max-width: 480px;){

    .list-box{
        width: auto;;
        height: auto;
    }
}